MAIL_HOST = smtp.gmail.com
MAIL_USER = codehelpdummy1@gmail.com
MAIL_PASS = dzgvtybtweasxrqd

JWT_SECRET = "babbar"
FOLDER_NAME = "CodeHelp"

RAZORPAY_KEY = rzp_test_t4LUM04KXw6wHc
RAZORPAY_SECRET = DOdtPrjZRxQejIdj1vAzm0MY

CLOUD_NAME = ddsqjzrow
API_KEY = 737395438155538
API_SECRET = mXak8IVP35NGNqDUj85sPH6na34

MONGODB_URL = "mongodb+srv://kunalrawat693:kunalrawat123@cluster0.xvcvbv3.mongodb.net/StudyNotionDatabase"
PORT = 4000
